
[*]

# ReSharper properties
resharper_align_multiline_parameter = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in = base_class
resharper_place_field_attribute_on_same_line = false
