.Title {
    -unity-font: url('/Assets/Scripts/GamePlay/UI/Fonts/caviar_dreams/CaviarDreams_Bold.ttf');
    font-size: 21px;
    color: rgb(254, 250, 224);
}

.Text {
    -unity-font: url('/Assets/Scripts/GamePlay/UI/Fonts/caviar_dreams/CaviarDreams_Bold.ttf');
    font-size: 14px;
    color: rgb(254, 250, 224);
}

.RuleButton {
    margin: 5px;
    background-color: rgb(254, 93, 38);
    border-color: rgb(254, 93, 38);
    color: rgb(254, 250, 224);
    -unity-font: url('/Assets/Scripts/GamePlay/UI/Fonts/caviar_dreams/CaviarDreams_Bold.ttf');
    font-size: 13px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.RuleButton:hover {
    background-color: rgb(223, 57, 1);
    border-color: rgb(223, 57, 1);
}

.RuleButton:active {
    background-color: rgb(183, 46, 1);
    border-color: rgb(183, 46, 1);
}

.container-background {
    background-color: rgb(126, 188, 137);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
