<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.10.3" />
  <package id="FsCheck" version="2.14.4" />
  <package id="FSharp.Core" version="4.2.3" />
  <package id="LiteDB" version="5.0.10" />
  <package id="stateless" version="5.10.1" />
</packages>